### A CI workflow template that runs linting and python testing
### TODO: Modify as needed or as desired.

name: Test tap-facebook

on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches: [main]
  workflow_dispatch:
    inputs: {}
  schedule:
  - cron: '0 12 * * *' # Run every day at 12:00 UTC

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  FORCE_COLOR: "1"

permissions:
  contents: read

jobs:
  pytest:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
    strategy:
      fail-fast: false
      max-parallel: 2
      matrix:
        python-version:
        - "3.13"
        - "3.12"
        - "3.11"
        - "3.10"
        - "3.9"

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
      with:
        python-version: ${{ matrix.python-version }}
    - uses: astral-sh/setup-uv@d9e0f98d3fc6adb07d1e3d37f3043649ddad06a1 # v6.5.0
      with:
        version: ">=0.5.0"
    - name: Test with pytest
      env:
         TAP_FACEBOOK_ACCESS_TOKEN: ${{ secrets.tap_facebook_access_token }}
         TAP_FACEBOOK_ACCOUNT_ID: ${{ secrets.tap_facebook_account_id }}
         TAP_FACEBOOK_START_DATE: ${{ secrets.tap_facebook_start_date }}
      run: |
        uvx --with=tox-uv tox -e ${{ matrix.python-version }}
    - name: Check types
      run: |
        uvx --with=tox-uv tox -e typing
