### A CI workflow template that runs linting and python testing
### TODO: Modify as needed or as desired.

name: Test tap-facebook

on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches: [main]
  workflow_dispatch:
    inputs: {}
  schedule:
  - cron: '0 12 * * *' # Run every day at 12:00 UTC

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  FORCE_COLOR: "1"

permissions:
  contents: read

jobs:
  pytest:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
    strategy:
      fail-fast: false
      max-parallel: 2
      matrix:
        python-version:
        - "3.13"
        - "3.12"
        - "3.11"
        - "3.10"

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
      with:
        python-version: ${{ matrix.python-version }}
    - uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
      with:
        version: ">=0.5.0"
    - name: Test with pytest
      env:
         TAP_FACEBOOK_ACCESS_TOKEN: ${{ secrets.tap_facebook_access_token }}
         TAP_FACEBOOK_ACCOUNT_ID: ${{ secrets.tap_facebook_account_id }}
         TAP_FACEBOOK_START_DATE: ${{ secrets.tap_facebook_start_date }}
      run: |
        uvx --with=tox-uv tox -e ${{ matrix.python-version }}
    - name: Check types
      run: |
        uvx --with=tox-uv tox -e typing
